
@using RetroAlimentacionSoft.Models.utilidades
@model IEnumerable<MenuControl>

<div class="row">
    <div class="col-md-1">
        <label>id menu</label>
    </div>
    <div class="col-md-1">
        <label>Nombre</label>
    </div>
</div> 

    @foreach(MenuControl p in Model)
    {
       <div class="row">
           <div class="col-md-1">
               @p.id_menu
           </div>
           <div class="col-md-1">
               @p.Nombre
           </div>
       </div>
           
       
    }
